body {
    justify-content: center;
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
}

.grid {
    margin: 10px;
    padding-left: 1px;
    padding-bottom: 1px;
    border: 1px solid black;
}

.panel {
    display: flex;
    flex-direction: column;
}

.panel h4 {
    font-weight: normal;
}

.cell {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-left: -1px;
    margin-bottom: -1px;
    border: 1px solid lightgray;
    display: inline-block;
}

.empty {
    background-color: aliceblue;
}

.filled0 {
    background-color: red;
}

.filled1 {
    background-color: green;
}

.filled2 {
    background-color: cyan;
}

.filled3 {
    background-color: purple;
}

.filled4 {
    background-color: blueviolet;
}

.filled5 {
    background-color: brown;
}

.filled6 {
    background-color: yellow;
}

